*{
    margin: 0;
    padding: 0;
}


.main{
    display: flex;
    flex-direction: row;
}

.logo{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 40px;
}

.left-side{
    height: 100vh;
    width: 20%;
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
}

.logoutButton{
    margin-top: 70%;
    text-align: center;
}

.logoutButton a{
    text-decoration: none;
    padding: 7px;
    font-size: 20px;
    color: black;
    border-radius: 50px;
    font-family: 'Segoe UI';
}

.logoutButton a:hover{
    background-color: #e94c37;
}

.left-side-main{
    width: 60%;
    margin: 15% auto;
}

.Titujt{
    color: black;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
}

.Titujt a{
    text-decoration: none;
    color: black;
}

.right-side{
    height: 100vh;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.tabela-forma{
    width: 50%;
    background-color: white;
    margin-left: 20px;
}
.libri-forma{
    width: 50%;
}
form{
    margin-top: 20%;
    margin-left: 15%;
}

.login-form label {
    color: gray;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Segoe UI';
}
.login-form{
    width: 100%;
    margin-top: 30px;
}

.login-form input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1.5px solid lightgray;
    width: 80%;
    padding: 5px 0;
    font-size: 17px;
}

.login-form input:focus{
    border-bottom:1.5px solid #e94c37;
}

.butonat-div{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.butonat-div button{
    margin: 20px;
    border: none;
    background-color: #e94c37;
    outline: none;
    padding: 10px 0;
    width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

.tabelaUser{
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    text-align: left;
    
}

th{
    background-color: #e94c37;
    color: white;
    padding: 5px;
}
td{
    padding: 10px;
    font-family: Arial;
}

td a{
    text-decoration: none;
    background-color: #e2343f;
    font-size: 13px;
    padding: 6px;
    color: white;
    border-radius: 5px;
}

td a:nth-child(1){
    background-color: #41a4c5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.combobox{
    margin-top: 20px;
}

.combobox h4{
    padding-top: 5px;
}

.combobox select {
    margin-top: 10px;
}

.tabela-forma{
    overflow: auto;
    height: 450px;
    margin-top: 10%;
}